
body html{
        
        background-color: #cccccc;
        width: 960px;}
h1{
        background-color: #4aaaa5;
        color: white;
        border-style: solid;
        border-color: #4aaaa5;
        border-width: 10px;
        float: left;
        width: 15%;
        margin: 0px 0px 40px 30px;
        z-index: 3;
    }
body{

        background-image: url(imageshw1/pattern1.png);
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    float: right;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;

}
li {
    float: left;}

input{
    width: 600px}



form {
        float: left;
       width:650px;
       border-color: #dddddd;
       border-style: solid;
        margin: 20px 0px 20px 20px;
        padding: 14px;
}



.connect 
{
    border-style: solid;
    border-width: medium;
    width:270px;
    height: 10px;
    float: right;
    margin: 50px 50px 30px 50px;
    border-color: #cccccc;
   
}
h3 {
text-align:center;
}

hr{
    width: 80%
}
.github 
{
    height: 80px;
    width:80px;
}
.stackoverflow
{
    height: 80px;
    width:80px;
}
.linkedin
{
    height: 80px;
    width:80px;
}
footer
{
text-align: center;
position: absolute;
width: 100%
top:4000px;
bottom: 0;
z-index: 2;
right: 0;
left: 0;
overflow: auto;
background-color: #666666;
}




