ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
    clear: left;
}


li {
    float: left;
}

form{
    float: left;
    border: 10px;
    padding: 20px;
    border-style: solid;
    margin: 50px 50px 60px 50px; 
    clear: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;

}

.connect 
{
    border-style: solid;
    border-width: medium;
    width: 230px;
    height: 170px;
    float: right;
    margin: 50px 50px 30px 50px;
    clear: right;
   
}
h3 {
text-align:center;
}

hr{
    width: 80%
}
.github 
{
    height: 70px;
    width:70px;
}
.stackoverflow
{
    height: 70px;
    width:70px;
}
.linkedin
{
    height: 70px;
    width:70px;
}
footer
{
text-align: center;
position: absolute;
width: 100%
top:4000px;
bottom: 0;
z-index: 2;
right: 0;
left: 0;
overflow: auto;
}




